body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f6fe;
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

h1 {
  text-align: center;
  color: #717896;
}

form {
  background-color: #f0f1ff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #8e99fd;
}

label {
  display: block;
  margin-top: 18px;
  margin-bottom: 6px;
  color: #2670c5;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #adb2e2;
  background-color: #fff;
  color: #3e3e3e;
  font-size: 15px;
}

input:focus,
select:focus {
  outline: none;
  border-color: #3c34b4;
  box-shadow: 0 0 0 2px rgba(149, 209, 218, 0.3);
}

button {
  margin-top: 25px;
  width: 100%;
  padding: 12px;
  background-color: #7dbdd6;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #70a8c2;
}